Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
name='John'
print(name)
list=[1, 'Book', 3.5, 'Mumbai', [1,2,3]]
print(list)
float= 3.1456
print(float)
tuple=('John', 65)
print(tuple)

John
[1, 'Book', 3.5, 'Mumbai', [1, 2, 3]]
3.1456
('John', 65)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

Ans-
(i)- string
(ii)- string
(i)- list
(i)- float

In [10]:
var4=1.
var4

1.0